
<div id="information">
    <div id="titule">
    <h2>Contactos favoritos</h2>

    <div id="parts">
        <p>Nombre</p>
        <p>Correo</p>
        <p>Telefono</p>
    </div>

</div>

<div>
    @for (contacto of contactsService.contactos; track $index) {
        @if (contacto.isFavorite) {
            <a [routerLink]="['/contacts', contacto.id]">
                <app-contact-list-item
                [contacto]="contacto"
                [index]="$index"/>
            </a>
        }
    }@empty {
        <p>No hay contactos favoritos</p>
    }
</div>

</div>
