#information{
	background-color: #EDE3FF;
	height: 100vh;
	width: 173vh;
}

#titule{
	border-bottom: 1px solid black;
	width: 1150px;
	margin-left: 20px;
}
h2{
	font-size: 30px;
	font-weight: 600;
	margin-top: 20px;
}

#parts{
	display: flex;
	margin-top: 15px;
}
#parts p{
	margin-right: 250px;
	margin-left: 10px;
}